body {
  font-family: 'Abril Fatface', cursive;
}

.cover-container {
  text-align: center;
  background-color: #ffdaaa;
  width: 100%;
  height: 87vh;
}

.name {
  color: #181c1f;
  font-size: 50vw;
}

.portfolio-container {
  padding: 130px 0 130px 0;
}

.portfolio-left {
}
.portfolio-main {
}
.portfolio-right {
}
