body {
}

.cover-container {
  text-align: center;
  background-color: #ffc982;
  width: 100%;
  height: 100vh;
}

.name {
  color: #181c1f;
  font-size: 7rem;
  font-family: font-family: 'Abril Fatface', cursive;
}

.portfolio-container {
  padding: 120px 0 120px 0;
  background-color: white;
}

.portfolio-left {
  background-color: red;
  
}
.portfolio-main {
  background-color: white;
  
}
.portfolio-right {
  background-color: blue;
  
}
