/* Core Styles */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #333;
  color: #fff;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;

}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 1em;
}

.btn {
  display: inline-block;
  background: #333;
  color: #DCDCDC;
  text-decoration: none;
  padding: 0.7em 1em;
  border: 1px solid #666;
  margin: .5em 0;
  transition: all ease-in-out 200ms;
}

.btn:hover {
  background: #DCDCDC;
  color: #333;
}

/* Navigation Bar/Social Media */

#navbar {
  padding: 0.3em 1.1em;
  position: fixed;
  float: left;
  z-index: 100;
}

#navbar .icon {
  font-size: 2.1em;
  text-decoration: none;
  color: #c0c0c0;
  transition: all ease-in-out 64ms;
}

#navbar .icon:hover {
  color: #eee;
}

/* Parallax */
.parallax-bg,
.parallax-box {
  transition: initial;
}

/*  Header Showcase */

#showcase {
  position: relative;
  background-image: url('../img/behappy.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15em 0;
  min-height: 100vh;
  color: #DCDCDC;
  text-align: center;
}

#showcase .title {
  margin: 0;
  font-family: 'Playfair Display', serif;;
  font-size: 4em;
  padding-top: 18vh;
  padding-bottom: 0;
  display: inline-block;
}

#showcase .content-wrap {
  height: 100%;
  width: 100%;
  text-align: center;
}

#showcase p {
  font-size: 1em;
}

#showcase #js-rotating{
  font-size: 1.3em;
}

/* Section A */

#section-a {
  padding: 2em 1em 1em;
}

#section-a ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-a li {
  margin-bottom: 1em;
}

#section-a img {
  margin-bottom: 1em;
}

/* Section B */

#section-b .box {
  padding: 1em;
}

#section-b .about h2 {
  padding-bottom: 0.2em;
}

#section-b .icon {
  text-decoration: none;
  font-size: 2.7em;
  padding: 0.1em;
  color: tomato;
  transition: all ease-in-out 64ms;
}

#section-b .icon:hover {
  color: #eee;
}

/* Main Footer */

#main-footer a {
  color: tomato;
  text-decoration: none;
  transition: all ease-in-out 64ms;
}

#main-footer a:hover {
  color: #eee;
}

/* Media Queries */

@media(min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
  #showcase h1 {
    font-size: 5em;
  }

  #section-a photo {
    padding: 0 4px;
  }
}

@media(min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #showcase h1 {
    font-size: 5em;
  }

  #section-a photo {
    padding: 0 4px;
  }

  #section-b div{
    grid-column: 1/3;
  }

  #main-footer div {
    grid-column: 1/3;
  }
}

@media(min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #showcase h1 {
    font-size: 5em;
  }

  #section-a photo {
  }

  #section-b div{
    grid-column: 2/3;
  }

  #main-footer div {
    grid-column: 2/3;
  }
}

@media(min-width: 1800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #showcase .title {
    font-size: 7.2em;
  }
  #showcase p {
    font-size: 1.5em;
  }

  #section-a photo {
    padding: 0 4px;
  }

  #section-b div{
    grid-column: 2/4;
  }

  #main-footer div {
    grid-column: 2/4;
  }
}
